In [1]:
import pandas as pd

In [9]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-22 21:04:52--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230122T210452Z&X-Amz-Expires=300&X-Amz-Signature=56423af09c91288cf9f4d0bebc48fec7c2106d2ffe205bbab5a713de63798ba9&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-22 21:04:52--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230122T210452Z&X-Amz-Expires=300&X-Amz-Signature=56423af09c91288cf9f4d0bebc48fec7c2106d2ffe205bbab5a713de63798ba9&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10.58M  21.1MB/s    in 0.5s

2023-01-22 21:04:53 (21.1 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

In [15]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz', nrows=100)

In [16]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [17]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [2]:
from sqlalchemy import create_engine
import psycopg2

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [20]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [33]:
df = next(df_iter)

In [34]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [37]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 3.11 s, sys: 43.8 ms, total: 3.15 s
Wall time: 6.78 s

1000

In [38]:
query = """
select count(*)
from green_taxi_data
"""
pd.read_sql(query, con=engine)

    count
0  100000

In [27]:
from time import time

In [39]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print("Chunk inserted in %.3f seconds." % (t_end - t_start))

Chunk inserted in 6.847 seconds.
Chunk inserted in 6.874 seconds.
Chunk inserted in 6.928 seconds.
Chunk inserted in 6.836 seconds.
Chunk inserted in 6.918 seconds.
Chunk inserted in 2.228 seconds.

StopIteration:

In [41]:
query = """
select count(*)
from green_taxi_data
"""
pd.read_sql(query, con=engine)

    count
0  630918

In [4]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-22 20:57:28--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.219.128, 52.217.133.152, 52.216.44.232, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.219.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-01-22 20:57:28 (125 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
600000,2,2019-01-30 15:48:41,2019-01-30 15:57:31,N,1,260,82,1,1.03,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600001,2,2019-01-30 15:29:04,2019-01-30 15:35:59,N,1,166,151,1,1.15,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600002,2,2019-01-30 15:50:30,2019-01-30 15:56:54,N,1,166,116,1,1.29,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600003,2,2019-01-30 16:15:39,2019-01-30 16:43:32,N,5,166,230,1,5.39,22.51,0.0,0.5,0.00,0.0,NaN,0.0,23.01,1,2,0.0
600004,2,2019-01-30 15:01:59,2019-01-30 15:18:49,N,1,66,181,1,3.58,13.50,0.0,0.5,2.86,0.0,NaN,0.3,17.16,1,1,0.0

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [46]:
# Question 3
query = """
select
    count(*)
from public.green_taxi_data
where
    date(lpep_pickup_datetime) = '2019-01-15'
    and date(lpep_dropoff_datetime) = '2019-01-15'
"""
pd.read_sql(query, con=engine)

   count
0  20530

In [47]:
# Question 4
query = """
select
    date(lpep_pickup_datetime), 
    max(trip_distance)
from public.green_taxi_data
group by
    date(lpep_pickup_datetime)
order by
    max(trip_distance) desc
limit 1
"""
pd.read_sql(query, con=engine)

         date     max
0  2019-01-15  117.99

In [50]:
# Question 5
query = """
select
    passenger_count, 
    count(*)
from public.green_taxi_data
where
    passenger_count in (2, 3)
    and date(lpep_pickup_datetime) = '2019-01-01'
group by
    passenger_count
"""
pd.read_sql(query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

In [51]:
# Question 6
query = """
select 
    d."PULocationID", 
    d."DOLocationID",  
    z1."Zone" as pickup_zone_name, 
    z2."Zone" as dropoff_zone_name, 
    max(d."tip_amount") as greatest_tip
FROM 
    green_taxi_data d
    inner join zones z1
        on d."PULocationID" = z1."LocationID"
    inner join zones z2
    on d."DOLocationID" = z2."LocationID"
where
    z1."Zone" = 'Astoria'
group by
    d."PULocationID", 
    d."DOLocationID",  
    z1."Zone", 
    z2."Zone"
order by
    max(d."tip_amount") desc
limit 1;
"""
pd.read_sql(query, con=engine)

,PULocationID,DOLocationID,pickup_zone_name,dropoff_zone_name,greatest_tip
0,7,146,Astoria,Long Island City/Queens Plaza,88.0